/*Reset*/
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}input[type=text]

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video, main{display:block}mark,rp,rt,ruby,summary,time{display:inline}

/*Root for change the base color*/

﻿
  /*Reset*/
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}input[type=text]

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video, main{display:block}mark,rp,rt,ruby,summary,time{display:inline}

/*Root for change the base color*/

$main__color: #ffffff;
$header__color: rgb(192, 7, 177);
$hover__color: #ffffff;
$violet__text__color: rgb(126, 6, 117);

/*Defolt settings , fonts , size and e.t.c. before work*/
* {
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  font: 400 19px/21px 'Source Sans Pro';
  color: #030303;
  background-color: $main__color;
}

input,
textarea {
  background-color: #ffffff;
  resize: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

h1,
.title1 {
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
}

h2,
.title2 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 25px;
}

h3,
.title3 {
  font-size: 20px;
  line-height: 19px;
  font-weight: 700;
}

h4,
.title4 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

h5,
.title5 {
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

h6,
.title6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.basket__btn {
  display: inline-block;
  border: 1px solid #ffffff;
  outline: none;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0,.99,.51,.53);
  height: 100%;
  background-color: $header__color;
  color: $main__color;
  &:hover {
    border: 1px solid $main__color;
  }
}

//Header
.header {
  padding: 40px 0 40px 0;
  display: grid;
  grid-template-columns: 0.4fr 1fr 5fr 1fr;
  column-gap: 25px;
  align-items: center;
  background: linear-gradient(to right, rgba(81, 11, 96, 0.76), rgba(0, 0, 0, 0)),  $header__color;
  min-height: 120px;
}

.header__logo {
  color: #eda4ed;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0,.99,.51,.53);
  &:hover {
    transform: scale(1.1);
    color: $hover__color;
  }
}

.header__logo-small {
  display: none;
  position: absolute;
}

.header__input-wrapper {
  position: relative;
}

  .header__search {
    width: 100%;
    border: 1px solid #ffffff;
    outline: none;
    font-size: 19px;
    padding: 16px 120px 16px 44px;
    border-radius: 10px;
    font-family: 'Source Sans Pro';
    background-color: $main__color;
    font-weight: 400;
  }

  .header__search-close {
    position: absolute;
    display: none;
    background-color: $main__color;
    color: $violet__text__color;
    border: none;
    border-radius: 7px;
    padding: 15px;
    font-size: 19px;
  }

.fa-magnifying-glass {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  cursor: pointer;
  color: $violet__text__color;
}

.header__basket-link {
  height: 100%;
}

.responsive-basket {
  display: none;
  font-size: 30px;
  margin-left: 15px;
}

.header__basket {
  border-radius: 10px;
  font-family: 'Source Sans Pro';
  &:hover {
    transform: scale(1.1);
    background-color: $header__color;
    color: $main__color;
    .fa-basket-shopping {
      transform: scale(1.2);;
    }
  }
  .fa-basket-shopping {
    margin-left: 10px;
  }
}

//Aside
.menu {
  display: none;
  background-color: $main__color;
  padding: 45px 25px 15px 25px;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  height: 100vh;
}

.menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 22px;
}
.menu__logo {
  position: absolute;
  top: 5px;
  left: 5px;
  max-width: 15%;
}

.menu__category {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px 15px;
  .fa-solid, .fa-brands {
    font-size: 25px;
    color: #000000;
    min-width: 50px;
  }
  &:hover {
    background-color: $header__color;
    .fa-solid, .fa-brands{
      color: #ffffff;
    }
    color: #ffffff;
  }
}

.menu__item + .menu__item {
  margin-top: 10px;
}

//Board
.slider__container {
  max-width: 100%;
  margin: 0 auto;
}

.slider__wrapper {
  overflow: hidden;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 7rem;
}

.slider__item > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.board__prev, .board__next {
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 20px;
  border: none;
  color: $header__color;
  background-color: #ffffff;
  transition: all 0.1s cubic-bezier(0,.99,.51,.53);
  &:hover {
    background-color: $hover__color;
    color: #ffffff;
  }
}
.board__prev {
  left: 10px;
}
.board__next {
  right: 10px;
}

.board__nav {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  column-gap: 15px;
}
.board__item {
  cursor: pointer;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #ffffff;
  transition: all 0.3s cubic-bezier(0,.99,.51,.53);
}

.board__item:hover {
  background-color: $header__color;
  transform: scale(1.3);
}

.board__item--acive {
  background-color: $header__color;
  transform: scale(1.3);
}

//Popular
.popular {
  margin-top: 30px;
  padding: 20px 40px;
}

.popular__title {
  margin-left: 50px;
}

.popular__row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.popular__card {
  position: relative;
  z-index: 3;
  min-height: 300px;
  font-family: 'Source Sans Pro';
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s cubic-bezier(0,.99,.51,.53);
  &:hover {
    .popular__fast-check {
      opacity: 1;
    }
    transform: scale(1.1);
    box-shadow: 0 0 100px #fff;
    border: none;
  }

  .popular__img {
    border: 3px solid #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
}

.plus--hidden, .minus--hidden {
  cursor: pointer;
  background-color: #ffffff;
  padding: 5px;
  font-size: 20px;
  border-radius: 20px;
  color: #000;
}
.plus--hidden {
  margin-left: 7px;
}
.minus--hidden {
  margin-right: 7px;
}

.popular__fast-check {
  transition: all 0.3s cubic-bezier(0,.99,.51,.53);
  cursor: zoom-in;
  opacity: 0;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #c2c2c2;
  z-index: 2;
}
.popular__discount {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(192, 7, 177);
  color: #fff;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 15px;
  height: 23px;
  width: 35px;
}
.popular__hidden-block {
  background: linear-gradient(to right, rgba(81, 11, 96, 0.76), rgba(0, 0, 0, 0)), rgb(192, 7, 177);
  padding: 5px 10px;
  display: none;
  position: absolute;
  color: #fff;
  bottom: 10px;
  right: 5px;
  align-items: center;
  border-radius: 20px;
}
.popular__add {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;

  .fa-plus {
    font-size: 20px;
  }
  &:hover {
    background-color: #cccccc;
  }

}
.popular__price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 5px 0;
}

.popular__price-now {
  font-weight: bold;
  font-size: 17px;
}
.popular__price-later {
  text-decoration: line-through;
  font-size: 15px;
}

.grid {
  grid-template-columns: repeat(6, 1fr);
}

//Burger
.header__burger {
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-left: 30px;
  color: $main__color;
  &:hover {
    .burger__line, .burger__line::before, .burger__line::after {
      background-color: rgba(243, 237, 243, 0.5);
    }
  }
}

.burger__line {
  position: absolute;
  top: 45%;
  left: 0;
  width: 30px;
  height: 3.5px;
  border-radius: 20px;
  background-color: #ffffff;
  &::before ,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    background-color: #ffffff;
    height: 3.5px;
    width: 30px;
    border-radius: 20px;
  }
  &::before {
    top: 10px;
  }
  &::after {
    bottom: 10px;
  }
}

//Responsive / Media queries
@media only screen and (max-width: 1200px) {
  body {
    font: 400 19px/21px 'Source Sans Pro';
  }

  img {
    max-width: 100%;
    object-fit: cover;
  }

  h1,
  .title1 {
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
  }

  h2,
  .title2 {
    font-size: 33px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  h3,
  .title3 {
    font-size: 20px;
    line-height: 15px;
    font-weight: 700;
  }

  h4,
  .title4 {
    font-size: 15px;
    line-height: 19px;
    font-weight: 700;
  }

  h5,
  .title5 {
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
  }

  h6,
  .title6 {
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
  }

  .basket__btn {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .fa-basket-shopping {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 992px) {
  .header {
    grid-template-columns: 1fr 4fr 1fr;
    justify-self: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 25px;
    z-index: 6;
    width: 100%;
  }

  .header-search-visible {
    grid-template-columns: 1fr 5fr;
  }

  .header__search {
    display: none;
    position: absolute;
    padding: 15px;
  }

  .header__search-box-visible {
    display: flex;
    justify-content: space-between;
    background-color: $main__color;
    border-radius: 7px;
    margin: 8px;
    z-index: 7;
    width: 90%;
    margin-right: 15px;
    .header__search {
      display: block;
      position: relative;
    }
  }
  .header__basket {
    display: none;
    position: absolute;
  }
  .header__logo {
    max-width: 50%;
    margin: 0 auto;
  }
  .responsive-basket {
    display: block;
    cursor: pointer;
  }
  .fa-magnifying-glass {
    position: static;
    transform: translateY(0);
    margin-left: 10px;
    color: $main__color;
  }
  .header__input-wrapper {
    color: $main__color;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 95%;
  }
  .responsive-basket:active, .fa-magnifying-glass:active,
  .responsive-basket:hover, .fa-magnifying-glass:hover{
    color: #ce74d4;
  }
  .board {
    margin-top: 120px;
  }

  .slider__container{
    height: 300px;
  }

  .slider {
    height: 300px;
  }

  .slider__wrapper{
    height: 300px;
  }

  .slider__item{
    height: 300px;
  }

  .menu {
    width: 250px;
    z-index: 7;
  }
  .visible {
    display: block;
    position: relative;
  }
  .hidden {
    display: none;
    position: absolute;
  }
  .popular {
  margin-top: 120px;
  }
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 750px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .slider__container{
    height: 250px;
  }

  .slider__control {
    margin-top: -150px;
  }

  .slider {
    height: 250px;
  }

  .slider__wrapper{
    height: 250px;
  }

  .slider__item{
    height: 250px;
  }
}

.fastCheckBlock{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 25;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 3px solid gray;
  border-radius: 25px;
}

.fastCheckClose{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.fastCheckClose:hover{
  transform: scale(1.1);
}

.fastCheckBlockImg{
  display: inline-block;
  width: 600px;
  object-fit: fill;
  padding: 50px 40px;
}


.fastCheckBlockDescription{
  padding-top: 50px;
  width: 100%;
}

.fastCheckBlockDescriptionCategory{
  padding: 15px 0;
}

.fastCheckBlockDescriptionBtn{
  display: block;
  width: 250px;
  height: 50px;
  position: absolute;
  bottom: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.fastCheckBlockDescriptionBtn:hover{
  background-color: #eda4ed;
  color: gray;
  border-color: gray;
}

.fastCheckBlockDescriptionBtn:active{
  background-color: #f051d4;
  color: white;
  border-color: white;
}

@media only screen and (max-width: 600px) {
  .header__logo {
    display: none;
    position: absolute;
  }

  .header__logo-small{
    display: block;
    position: relative;
    max-height: 109px;
  }
  .header__search{
    color: #000000;
    padding: 5px;
  }

  .hidden {
    display: none;
    position: absolute;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  }
  .slider__container{
    height: 200px;
  }

  .slider {
    height: 200px;
  }

  .slider__wrapper{
    height: 200px;
  }

  .slider__item{
    height: 200px;
  }
}
